{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center minh-80">
        <div class="py-12 border-b border-gray-200 ">
            <h1 class="text-6xl pt-12 pb-8">
                Edit profile
            </h1>

            {{ form_start(profileForm) }}
                {{ form_row(profileForm.email) }}
                {{ form_row(profileForm.password) }}
                {{ form_row(profileForm.name) }}
                {{ form_row(profileForm.surename) }}
            
            
            <button 
                type="submit" 
                class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl">
                Save changes
            </button>
            
            {{ form_end(profileForm) }}

        </div>
    </div>
{% endblock %}
