{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <div class="minh-80">
        <div class="py-20">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surename</th>
                        <th scope="col">Email</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Active</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surename }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles|join(', ') }}</td>
                            <td>{{ user.isBlocked ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="/admin/users/switchActive/{{ user.id }}" class="btn btn-outline-dark">{{ user.isBlocked ? 'Unblock' : 'Block' }}</a>
                                <a href="/admin/users/delete/{{ user.id }}" class="btn btn-outline-dark">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
