{% extends "./base.html.twig" %}

{% block title %} Movies {% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center" >
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                Movies
            </h1>

        </div>
        <div class="d-flex">
            <div class="mx-auto w-4/5 my-8">
                <a 
                    href="/movies/search" 
                    class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                    Find movie
                </a>
            </div>
        </div>
    </div>


    
    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15" id="resultsList">
        <!-- Review Item -->
        {% for movie in pagination %}
            <div class="text-center pt-8 pb-4">
                <h2 class="card-title text-gray-700 font-bold text-3xl py-2" style="min-height: 80px;">
                    {{ movie.title }}
                </h2>
                
                <div style="text-align: -webkit-center;">
                    <img
                        src="{{ movie.imagePath }}"
                        alt=""
                        class="shadow-xl rounded-md img-fluid max-width-100 max-height-100"
                        style="max-width: 400px; max-height: 400px;"
                    />
                </div>


            <p class="card-description text-base text-gray-700 pt-4 pb-10 leading-8 font-light overflow-hidden h-60 mb-10 min-vh-30">
                {{ movie.description }}
            </p>

            <a href="/movies/{{ movie.id }}" class="btn btn-outline-dark uppercasetext-lg py-4 px-12 rounded">
                Keep Reading
            </a>
            </div>
        {% endfor %}

    </div>
    <div class="w-4/5 mt-4 m-auto text-center pagination" >
        {{ knp_pagination_render(pagination,
         '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',) }}
    </div>

{% endblock %}