{% extends "./base.html.twig" %}

{% block title %} {{ movie.title }} {% endblock %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ movie.title }}
        </h1>

        <div class="py-10 text-center">
            <div class="sm:pt-1">
            
                <p class="text-sm text-gray-600 font-bold average-rating">
                Categories:
                </p><br>

                    <div class="row">
                        {% if movie.categories|length > 0 %}
                            <div class="row">
                                {% for category in movie.categories %}
                                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="card-link">{{ category.name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>No categories found.</p>
                        {% endif %}
                    </div>
                    <br>

                <p class="text-sm text-gray-600">
                Release Year: {{movie.releaseYear}} <br>
                </p>

                <p class="text-sm text-gray-600 font-bold average-rating">
                Average rating: 
                {% if movie.averageRating|trim %}
                    {{ movie.averageRating }}
                    {% else %}
                    0
                {% endif %} 
                / 5 <br>
                </p>
            </div>
        </div>

        <img
            src="{{ movie.imagePath }}"
            class="rounded-xl w-full shadow-xl movie-img-size mx-auto d-block"
            alt="Icon"
        />

        <p class="text-xl py-6">
            {{ movie.description }}
        </p>

    </div>

<div class="row">
    <div class="col mt-2">
        <h3><i class="pr-3 fas fa-comment pl-8"></i>{{ movie.comments|length }} Comments</h3>
        <hr>
        {% if app.user %}
            <div class="row mb-5">
                <div class="col mt-6">
                    <div class="rounded">
                        <div class="shadow p-3">
                            <div class="comment-container d-inline-block pl-3 align-top">
                                <img class="comment-img rounded-circle icon-img-size" src="{{ asset('images/usericon.png') }}" alt="User Icon">
                                <span class="commenter-name">{{app.user.email}}</span>
                                {{ form_start(commentForm) }}

                                    <div class="form-floating mt-2">
                                        <input type="hidden" name="comment_form[author]" value="{{ app.user.email }}">
                                        <input type="hidden" name="comment_form[createdAt]" value="{{ 'now'|date('Y-m-d H:i:s') }}">

                                        {{ form_row(commentForm.content) }}
                                    </div>
                                    <button type="submit" class="btn btn-info mt-2">Comment</button>
                                {{ form_end(commentForm) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-6 text-center">
                    <div class="rounded">
                        <div class="shadow p-3 w-50 mx-auto">
                            <h1><b>Rate This Film</b></h1>
                            <div class="justify-content-center mt-6 film" data-film-id="{{ movie.id }}">
                                <span class="fa fa-star rate-button" data-rating="1"></span>
                                <span class="fa fa-star rate-button" data-rating="2"></span>
                                <span class="fa fa-star rate-button" data-rating="3"></span>
                                <span class="fa fa-star rate-button" data-rating="4"></span>
                                <span class="fa fa-star rate-button" data-rating="5"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="existingRating" value="{{ existingRating ? existingRating.score : '' }}">
            </div>
        {% endif %}


        {% for comment in movie.comments %}
        <div class="row mb-3">
            <div class="col">
                <div class="rounded">
                    <div class="shadow p-3 w-50">
                        <div class="row">
                            <div class="col-auto">
                                <img class="comment-img rounded-circle icon-img-size" src="{{ asset('images/usericon.png') }}" alt="User Icon">
                            </div>
                            <div class="col">
                                <div class="comment-container d-inline-block pl-3 align-top">
                                    <span class="commenter-name">{{ comment.author }}</span>
                                    <small class="text-muted">about {{ comment.createdAt|ago }}</small>
                                    <br>
                                    <span class="comment mt-2">{{ comment.content }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>

    {% block javascript %}
        <script src="{{ asset("javascript/rateMovie.js") }}"></script>
    {% endblock %}

{% endblock %}